.charts-container {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.charts-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 40px;
    
    }
    
.bubblechart-container { grid-area: 1 / 1 / 2 / 5; }
.histogram-container { grid-area: 1 / 5 / 2 / 6; }
.linechart-select-container { grid-area: 2 / 1 / 3 / 2; }
.linechart-container { grid-area: 2 / 2 / 4 / 6; }


.grid line {
    stroke: #ccc;
    stroke-dasharray: 2, 2; 
}
