.charts-container {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.charts-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 40px;
    
    }
    
.bubblechart-container {grid-area: 1 / 1 / 5 / 4;}
.grade-container {grid-area: 1 / 4 / 2 / 6;}
.histogram-container { grid-area: 2 / 4 / 6 / 6;}
.linechart-select-container { grid-area: 2 / 5 / 6 / 6;}

.grid line {
    stroke: #ccc;
    stroke-dasharray: 2, 2; 
}
