.histogram-container {
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 200px;
    font-size: 20px;
    margin-left: 10px;
}

.title-chart {
    font-size: large;
    padding-left: 20px;
}