body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6fafa !important;
}

.dashboard-info-container {
    font-size: 40px;
    margin-top: 40px;
    margin-right: 50px;
}

.bold-info {
    font-weight: bold;
}

.topper-container {
    display: flex;
    justify-content: space-between;
}